/* Timer */

section {
  padding: 28px;
}

section > h1 {
  margin-bottom: 40px;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  border-width: 0.5px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-left: 8px;
  cursor: pointer;
}

button:hover {
  background: #6c8cff;
}

button:disabled {
  background: #cfcfcf;
  color: #989898;
}

input {
  border-radius: 4px;
  width: 280px;
  height: 40px;
  background: #fff;
  padding: 0;
  border-width: 0.5px;
}

input:hover {
  border-color: #2e2f42;
}

input:active {
  border-color: #4e75ff;
}

input:disabled {
  border-color: #808080;
}

.timer {
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  height: 72px;
  width: 363px;
}

.field {
  white-space: pre-wrap;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc((100% - 3 * 24px) / 4);
  height: 100%;
}

.value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
/*  */
.flatpickr-calendar {
  border-radius: 8px !important;
  background: #f5f5f5 !important;
}

.flatpickr-day.selected {
  background-color: #4e75ff !important;
  border: none !important;
  color: #fff !important;
}

.flatpickr-day {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  letter-spacing: 0.04em !important;
  color: #666 !important;
  align-content: center !important;
}
